{% extends '::layout.html.twig' %}

{% block body -%}
    <h1>Editer l'équipe</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('di_dashboard') }}">
            Revenir au Dashboard
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
