/* ==========================================================================
   Règles de base
   ========================================================================== */
body {
	margin-top: 125px;
}

.logo-nav{
	display:block;
}

.nav {
	margin-top: 10px; 
}

.nav p{
	text-align:center;
	color:gold;
}

.main{
	
}

/* ==========================================================================
   header
   ========================================================================== */

.navbar-header h1{
	font-size:34px;
}

.navbar-header h1, .navbar-header img{
	display:inline-block;
	margin:0;
}

.navbar-header img
{
	margin-bottom:10px;
}

.logo-nav{
	padding:15px 15px 5px 15px;
}

/* ==========================================================================
   form Login
   ========================================================================== */

.login{
	width:300px;
	margin:0 auto;
}

/* ==========================================================================
   Dashboard
   ========================================================================== */

.sidebar{
	float:left;
	margin-left:30px;
	min-height:1px;
}

.admin-menu{
	top: 80px;
	width:258px;
	background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin: 30px 0 0;
    padding: 0;
}

.admin-menu li{
	line-height:20px;
}

.admin-menu > li:first:child > a{
	border-radius:6px 6px 0 0;
}

.admin-menu > li > a{
	border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}

.ajxrfrsh h2{
	font-size:22px;
	text-align:center;
}

#chose span{
	margin-right:10px;
}

#chose ul{
	display:block;
	clear:both;
}

#chose li{
	
	margin-top:25px;
}

.epr{
	display:block;
}


/* ==========================================================================
   Form new/edit classement
   ========================================================================== */

#di_rankingbundle_classement{
	text-align:center;
}

#di_rankingbundle_classement input{
	width:25px;
	margin:0 10px 0 0;
}

#di_rankingbundle_classement select{
	width:180px;
	margin:0 20px 0 0;
}

#di_rankingbundle_classement label{
	height:30px;
	width:80px;
	margin-left:10px;
}